*{
    margin: 0;
    padding: 0;
}

.mainSec{
    height: 100vh;
    width: 100%;
    display: flex;
}

.leftSec{
    width: 50%;
    height: 100vh;
    background-image: url(../Images/defcover.jpg);
    background-position: right;
    background-size: cover;
}

.rightSec{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}


.myBtn{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.rightSec a{
    text-align: center;
}

/* home section */

.homeSection{
    display: flex;
}


.tweetSection{
    width: 43%;
    height: 100vh;
   border-left: 1px rgba(128, 128, 128, 0.168) solid;
   border-right: 1px rgba(128, 128, 128, 0.168) solid;
}

.homeLeft{
    width: 24%;
    height: 100vh;
}

.homeRight{
    width: 33%;
    height: 100vh;
}

.profilePlaceholder{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
}

.tweetBox{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.tweetBox input{
    width: 90%;
    margin-left: 20px;
    border: none;
    outline: none;
    font-size: 20px;
}


.tweetButtons{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px rgba(128, 128, 128, 0.168) solid;
    padding-bottom: 20px;
    font-weight: bold;
}

.tweetButtons button{
    border-radius: 20px;
    padding-left:20px;
    padding-right: 20px;
}

.topTweetBox{
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;
}


.homeLeft img{
    height:30px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.homeLeft{
    padding-left: 50px;
    padding-right: 50px;
}

.homeLeft button{
    width: 100%;
    border-radius: 50px;
}


.bottomProfileCont{
    display: flex;
    margin-top: 50px;
}

.bottomProfile p{
    margin: 0;
    padding: 0;
}

.bottomProfile{
    margin-left: 10px;
}


.bottomProfileCont:hover{
    background-color: rgba(128, 128, 128, 0.124);
    border-radius: 30px;
    cursor: pointer;
    
}

#username{
    font-weight: bold;
}


.homeBtns{
   text-decoration: none;
   color: black;
   font-size: 20px;
}


.theLogo{
    display: none;
}

.midMenu div{
    margin-bottom: 12px;
    margin-top: 12px;
}


.coverImage{
    background-image: url(../Images/600x200.jfif);
    background-size: cover;
    height: 200px;
    width: 100%;
}


.mainProfImage{
    height: 150px;
    width: 150px;
    background-image: url(../Images/QYJI0a1O_400x400.jpg);
    background-size: cover;
    border-radius: 50%;
    position: absolute;

    top: 180px;
    left: 25px;
    z-index: 11;

    border: 5px white solid;
}

.edtBtn{
    position: absolute;
    right: 10px;

    text-decoration: none;
    border: gray 1px solid;
    padding: 5px  20px 5px 20px;
    border-radius: 20px;
    margin-top: 10px;
    color: black;

    cursor: pointer;
}


.profSection{
    position: relative;
}


.profContent{
    position: absolute;
    top: 350px;
    width: 90%;
    margin-left: 5%;
}


#profUserNamed{
    margin-top: 0;
    padding-top: 0;
}

#profName{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 23px;
    font-weight: bolder;
}

#allTweetsContainer{
    overflow-y: scroll;
    height: 80vh;
}